:root {
    --amarelo-rocksgym:#F8FD2C;

}

@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
@font-face {
    font-family: 'Anton';
    src: url(static/font/Anton-Regular.ttf);
}

@media (max-width: 1024px) {
    #navbar{display: none;}
    .navbar-toggler{display: block;}
}

.btn-fixed{
    position: fixed;
    bottom: 30px;
    right: 30px;
    visibility: hidden;
}

.btn-fixed.visible {
    visibility: visible;
}

.btn-fixed span {
    font-size: 50px;
    color: var(--amarelo-rocksgym);
    border-radius: 50%;
}

.navbar {
    height: 9rem;
    color: var(--amarelo-rocksgym);
}

.navbar-brand {
    font-family: 'Anton';
    color: var(--amarelo-rocksgym);
    text-shadow: 0.05em 0.01em #858585;
}

.navbar h1, p, .fonte-header{
    color: var(--amarelo-rocksgym);
}

.nav-item {
    font-family: 'Rawline', sans-serif;
    color: var(--amarelo-rocksgym);
}