@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
@font-face {
    font-family: 'Anton';
    src: url(static/font/Anton-Regular.ttf);
}

.btn-fixed{
    position: fixed;
    bottom: 30px;
    right: 30px;
    visibility: hidden;
}

.btn-fixed.visible {
    visibility: visible;
}


.btn-fixed span {
    font-size: 50px;
    color: #262626;
    border: 1px solid #FFFFFF;
    background-color: #FFFFFF;
    border-radius: 50%;
}

.navbar {
    height: 12.6rem;
}

.header-logo h1{
    font-size: 60px;
}

.br-list {
    padding-left: 5rem;
}

.br-item {
    padding-left: 2rem;
}

.fundo-escuro {
    background-color: #262626;
}

#fundo-escuro {
    background-color: #262626;
}

img#logo__coids {
    width: 6rem;
} 

#header {
    /* background-color: #F29406; */
    background-color:#262626;
}

#header h1 {
    color: #F8FD2C;
    text-shadow: 0.05em 0.01em #74750f;
    font-family: 'Anton';
}

#menu__header {
    background-color: #262626;
    color: #F8FD2C;
    width: 9rem;
    font-size: 18px;
    text-decoration: none;
    text-transform: uppercase;
    margin-bottom: 0;
    font-weight: bolder;
    font-weight: 600;
    font-family: 'Roboto', sans-serif;
}

#menu__header:hover {
    color: #F8FD2C;
    text-shadow: 1px 1px 1.5px #F8FD2C;
    text-decoration: underline;
    transform: scale(1.1); /* aumenta o tamanho */
    transition: all 0.5s; /* adiciona transição suave */
}

#icon__menu {
    color: #F8FD2C;
}

.titulo_header {
    font-size: 25px;
    text-transform: uppercase;
    color: #F8FD2C;
    font-weight: 100;
    text-shadow: 0.05em 0.01em #74750f;
    font-family: 'Anton';
}

@media (max-width: 1024px) {
    #navbar{display: none;}
    .navbar-toggler{display: block;}
}